* {
   background-color: rgb(121, 121, 121);
   color: white;
   margin: 0;
}

.head {
   color: white;
   padding: 20px;
}

.header {
   display: flex;
   justify-content: center;
}

.header > img {
   height: 35px;
   width: 30px;
}

.rating > img {
   height: 15px;
   width: 15px;
   padding-right: 10px;
   padding-bottom: 5px;
   padding-left: 2px;
}

.rating {
   display: flex;
   justify-content: flex-start;
}

h6 {
   font-size: 14px;
}

.topbar {
   display: flex;
   padding-top: 20px;
   justify-content: center;
}

#search-input {
   background-color: aliceblue;
   color: black;
}

#movies-grid {
   display: flex;
   flex-wrap: wrap;
   padding: 20px;
   justify-content: space-between;
}

img {
   height: 410px;
   width: 270px;
} 

.movie-card {
   padding-bottom: 10px;
   max-width: 270px;
   
}

.movie-card:hover {
   opacity: 0.5;
   
}


.movie-votes {
   font-weight: lighter;
}

.load {
   padding-top: 10px;
   padding-bottom: 40px;
   display: flex;
   justify-content: center;
   align-items: baseline;
   
} 

#load-more-movies-btn {
   background-color: white;
   color: orangered;
   
}

#close-search-btn {
   background-color: white;
   color: black;
}

.nowplaying {
   padding-left : 23px;
   font-size: 30px;
}

.popupdiv {
   position: fixed;
   display: none;
   top: 0;
   right: 0;
   /* bottom: 0; */
   left: 0;
 }

 .popup {
   position: fixed;
   width: 50%;
   top: 25%;
   left: 25%;
   text-align: center;
   padding-top: 10px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 20px;   
   min-height: 400px;
 }

 .popup h3 {
   font-size: 15px;
   height: 50px;
   line-height: 50px;
   
 }

 .movie-titles {
    display: flex;
    justify-content: center;
 }

 .date {
    padding-left: 5px;
 }

.movie-titles > img {
   height: 15px;
   width: 15px;
   padding-top: 16px;
   padding-right: 5px;
   padding-left: 5px;
}

 .CloseIcon{
   cursor: pointer;
   display: flex;
   justify-content: center;
   padding-bottom: 10px;
 }

 .popupimg {
    width: 400px;
    height: 220px;
 }


